{% import 'macros.html' as macros %}
<div class="card">
    <div class="card-header">

{% if include_dismiss %}
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
{% endif %}
        <h3>{{ game.name }}</h3>

        <p id="genres">
            {{ game.genre }}
        </p>
        <p id="scores">
            {{ macros.scores(game) }}
        </p>
        <label for="trailers">Trailer{{ "s" if links.Trailer|length > 1 else "" }}:</label>
        <ul class="list-group list-group-flush accordion" id="trailers">
            {% for link in links.Trailer %}
            {% if link.site == 'YouTube' %}
            <li class="list-unstyled ">
                <div>
                    <a href="#" id="heading{{loop.index}}" class='videoOpen' data-toggle="collapse" data-target="#collapse{{loop.index}}"
                        aria-expanded="false" aria-controls="collapse{{loop.index}}" data-link="{{link.link}}"
                        data-video="https://www.youtube.com/embed/{{ link.qs.v[0] }}?rel=0">{{link.link_text }}</a>
                </div>
                <div id="collapse{{loop.index}}" class="collapse collapsed videoCollapse" aria-labelledby="heading{{loop.index}}"
                    data-parent="#trailers">
                    <iframe frameborder=0 class="videoFrame" src="" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="card-body">
        <div class="card-text">
            {% if not votes %}
            No comments (yet)
            {% else %}
            <ul class="list-group">
                {% for vote in votes %}
                <li class='list-group-item'>
                    <dl class="row comments-table">
                        <dd class="col-sm-3">
                            <dl>
                                <dt class="text-primary">{{ vote.username }}</dt>
                                <dd>{{ vote.date | strftime }}</dd>
                            </dl>
                            </dt>
                        <dd class="col-sm-1">
                            {{ macros.vote(vote=vote.vote) }}
                        </dd>
                        <dd class="col-sm-8">{{ vote.comment }}</dd>
                    </dl>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>

</div>