{% extends "base.html" %}

{% block content %}
<table class="table table-bordered table-hover table-striped dataTable" id="recommendation">
    <thead>
        <tr>
            <th class="text-center sorting">Name</th>
            <th class="text-center sorting">Genre</th>
            <th class="text-center sorting">Score</th>
            <th class="text-center" hidden>Number of votes</th>
            <th class="text-center" hidden>Up</th>
            <th class="text-center" hidden>Down</th>
            <th class="text-center" hidden>Type</th>
        </tr>
    </thead>
    <tbody>
        {%for game in games %}
        <tr>
            <th scope="row">
            <a href="#" data-gameId="{{game.game_id }}" data-instanceId="{{game.instance_id}}" data-toggle="modal" data-target="#gameModal">
                {{ game.name }}
            </a></th>
            <td>{{ game.genre }}</td>
            <td>{{ game.total }}</td>
            <td hidden>{{ game.num_votes if game.num_votes else 0 }}</td>
            <td hidden>{{game.up if game.up else 0}}</td>
            <td hidden>{{game.down if game.down else 0}}</td>
            <td hidden>
                {% if game.total > 0 %}
                YAY
                {% elif game.total %}
                BOO
                {% else %}
                MEH
                {% endif %}
            </td>
        </tr> {% endfor %} </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="gameModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gameModalTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <ul class="list-inline">
                        <li class="up-vote list-inline-item"></li>
                        <li class="no-vote list-inline-item"></li>
                        <li class="down-vote list-inline-item"></li>
                    </ul>
                </div>
                <dl class="comments-table"></dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}