<table class="table table-bordered table-hover table-striped" id="games">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <td>Scores</td>
        </tr>
    </thead>
    <tbody id="gameBody">
        {% for game in games %}
        <tr>
            <th scope="row">
                <a href="{{ url_for('admin.show_game', instance_id=game['instance_id'])}}">
                {{ game.name }}
                </a>
            </th>
            <td>
                {{ macros.scores(game)}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>