{% extends 'admin/base.html' %}

{% block header %}
<h5>{% block title %}User {{ user.username}}{% endblock %}</h5>
{% endblock %}

{% block content %}
<form id = "comment" data-action="{{ url_for('admin.add_comment') }}">
    <input name="instanceId" type="hidden" id="instanceId">
    <input name="userId" type="hidden" value="{{ user.id }}">
    <table class="table table-bordered table-hover table-striped" id="comments">
        <thead>
            <th class="text-center">Game</th>
            <th class="text-center">Comment</th>
            <th class="text-center">Vote</th>
            <th class="text-center">Date</th>
        </thead>
        <tbody>
            {% for vote in votes %}
            <tr>
                <th scope="row">{{ vote.game }}</th>
                <td>{{ vote.comment |default }} </td>
                <td class="text-center">
                    {% if vote.vote > 0 %}
                    &plus;
                    {% elif vote.vote == 0 %}
                    &minus;
                    {% else %}
                    &times;
                    {% endif %}
                </td>
                <td>{{ vote.date | strftime }} </td>
            </tr>
            {% endfor %}
            <tr id="newComment">
                <td>
                    <input class="form-control typeahead" name="game" id="game" placeholder="Game">
                </td>
                <td>
                    <textarea rows="5" class="form-control" name="comment" id="comment" placeholder="comment"></textarea>
                </td>
                <td id="gamevotes">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary">
                                  <input type="radio" name="vote" value="1" id="option1" autocomplete="off" checked>&plus;
                                </label>
                                <label class="btn btn-secondary active">
                                  <input type="radio" name="vote" value="0" id="option2" autocomplete="off">&minus;
                                </label>
                                <label class="btn btn-secondary">
                                  <input type="radio" name="vote" value="-1" id="option3" autocomplete="off">&times;
                                </label>
                              </div>
                </td>
                <td>
                    <input class="form-control" id="date" name="date" placeholder="Date">
                </td>
                <td>
                    <a id="addComment" class="btn btn-primary col4">
                        <img src="/static/images/plus.svg" class="icon">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</form>
{% endblock %}
