{% import 'macros.html' as macros %}
{% block doc -%}
<!DOCTYPE html>
<html {% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}

<head>
    {%- block head %}
    <title>{% block title %}{{title|default()}}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {%- block styles %}
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {%- endblock styles %}
    {%- endblock head %}
</head>

<body {% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    {{ config.FLASK_ENV }}
    <div class="d-flex {% block headercolour %}bg-primary{% endblock %} w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div class="inner">
                <h3><a class="masthead-brand" href="{% block headlink %}/{% endblock headlink %}">EG Forum Data Service</a></h3>
                <nav class="nav nav-masthead justify-content-center">
                    {% block nav %}
                    {% if sections %}
                    {% for section in sections %}
                        {% if section.get('selected', False) %}
                            <a class="nav-link active" href="#">{{section.name}}</a>
                        {% else %}
                            <a class="nav-link" href="{{section.url}}">{{section.name}}</a>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endblock nav %}
                </nav>
            </div>
        </header>
    </div>

    <main role="main">
        <div class="py-5">
            <div class="container">
                {% for message in get_flashed_messages() %}
                <div class="row alert alert-warning" role="alert">{{ message }}</div>
                {% endfor %}
                {% block content -%}
                {%- endblock content %}
            </div>
        </div>
    </main>

    {% block scripts %}
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {%- endblock scripts %}
    {%- endblock body %}
</body>
{%- endblock html %}

</html>
{% endblock doc -%}
