{% macro vote (vote) -%}
{% if vote > 0 -%}&plus;{%- elif vote -%}&minus;{%- else -%}&times;{%- endif %}
{%- endmacro %}

{% macro scores (game) -%}
                <ul class="list-inline">
                    <li class="list-inline-item"><strong>{{ game.total | default(0)}}</strong></li>
                    <li class="up-vote list-inline-item">&plus; {{ game.up |default(0) }}</li>
                    <li class="no-vote list-inline-item">&times; {{ game.num_votes - game.up - game.down |
                        default(0) }}</li>
                    <li class="down-vote list-inline-item">&minus; {{game.down | default(0) }}</li>
                    <li class="list-inline-item">#{{ game.num_votes | default(0)}}</li>
                </ul>
{% endmacro %}