{% extends "base.html" %}
{% block header %}
<h3>Recommendation List</h3>
{% endblock %}

{% block content %}
<table class="table table-bordered table-hover table-striped" id="recommendation">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Genre</th>
            <th class="text-center">Score</th>
            <th class="text-center">Number of votes</th>
            <th class="text-center">Up</th>
            <th class="text-center">Down</th>
            <th class="text-center">Type</th>
        </tr>
    </thead>
    <tbody>
        {%for game in games %}
        <tr>
            <th scope="row">{{ game.name }}</th>
            <td>{{ game.genre }}</td>
            <td>{{ game.total }}
            <td>{{ game.num_votes if game.num_votes else '-' }}</td>
            <td>{{game.up if game.up else '-'}}</td>
            <td>{{game.down if game.down else '-'}}</td>
            <td>
                {% if game.total > 0 %}
                YAY
                {% elif game.total %}
                BOO
                {% else %}
                MEH
                {% endif %}
            </td>
        </tr> {% endfor %} </tbody>
</table>
{% endblock %}
